<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>ListarDiscos</servlet-name>
        <servlet-class>co.themafia.servlet.ListarDiscos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroUsuario</servlet-name>
        <servlet-class>co.themafia.servlet.RegistroUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IngresoUsuario</servlet-name>
        <servlet-class>co.themafia.servlet.IngresoUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IngresoProveedor</servlet-name>
        <servlet-class>co.themafia.servlet.IngresoProveedor</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListarDiscos</servlet-name>
        <url-pattern>/ListarDiscos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroUsuario</servlet-name>
        <url-pattern>/RegistroUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IngresoUsuario</servlet-name>
        <url-pattern>/IngresoUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IngresoProveedor</servlet-name>
        <url-pattern>/IngresoProveedor</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
